@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');


body {
  margin: auto;
  background-color: black;
  color: limegreen;
  font-family: 'IBM Plex Mono';
}

.atms {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.bank {
  text-align: center;
  display: flex;
  padding: 2rem;
  border: .5rem solid cornsilk;
}